@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.7/dist/sweetalert2.min.css">
    <link href="~/css/Pedidos/DetallePedidos.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <div class="col-md-2 col-sm-2 m-2">
            <a class="btn btn-primary rounded-pill shadow" onclick="location.href='@Url.Action("Pedidos", "Pedidos")'">
                <i class="bi bi-arrow-left-short"></i> Volver a mis pedidos
            </a>
        </div>
    </div>

    <div class="contenedorDetalle row">
        <div class="col-md-8" id="DetallePedido">
        </div>
        <div class="col-md-4">
            <div class="card contenedorInfo">
                cd
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.7/dist/sweetalert2.all.min.js"></script>
    <script src="~/js/jquery-3.7.1.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/Auxiliar/DetallePedido.js"></script>
</body>
</html>