<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/Poductos.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div id="carousel-container">
        <div id="carousel">
            <div class="slide">
                <img src="~/images/Banners/280324_lp_marcapropia_119_gelato_d.jpg" />
            </div>
            <div class="slide">
                <img src="~/images/Banners/010424_catalogoextendido_71499_n250bajaj_44999_250znegro_98999_dominartebajaj_d.jpg" />
            </div>
            <div class="slide">
                <img src="~/images/Banners/020424_home_2doal50_vinosylicores_d.jpg" />
            </div>
            <div class="slide">
                <img src="~/images/Banners/020424_home_2dol50_medicinaetica_d.jpg" />
            </div>
            <div class="slide">
                <img src="~/images/Banners/020424_home_olaofertas_2doal50_ariel_2doal50_suavitel_2doal50_fabuloso_d.jpg" />
            </div>
            <div class="slide">
                <img src="~/images/Banners/020424_home_olaofertas_2doal50_suavel_2doal50_elite_2al50_cottonelle_d.jpg" />
            </div>
            <div class="slide">
                <img src="~/images/Banners/020424_lp_mundotechno_6990_pantalla_hisense55_7490_pantalla_samsung_d.jpg" />
            </div>
            <div class="slide">
                <img src="~/images/Banners/020424_lp_mymdc_2480_papa_2480_limon_78_molida_d.jpg" />
            </div>
        </div>
    </div>
    <section id="Productos">
        <div id="contenedorProductos">
        </div>
    </section>
    <div class="row containerPublicidad">
        <div class="col-md-4 col-sm-12">
            <div class="row">
                <img src="~/images/Publicidad/81261a7b-5685-4473-8fa3-33be35ede9d7___5a76d67a5664eea67df05be9636f9b4a.webp" />
            </div>
            <br />
            <div class="row">
                <img src="~/images/Publicidad/b5a21b2f-7a49-4430-8846-a5af0f499fcf___cad2ad9dfc7afd3cc08108fc466d4902.webp" />
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <img src="~/images/Publicidad/5080742d-4408-4b1c-adab-28dea76a3d98___13927aaff33c55b4f831da62bcfa5e2b.webp" />
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="row">
                <img src="~/images/Publicidad/0d72529f-73ef-41fb-adff-304447e41736___5fdf1cfbce41eadaad07449f081f3bca.webp" />
            </div>
            <br />
            <div class="row">
                <img src="~/images/Publicidad/3009c506-c8b4-4eb0-8efe-0a52ddf833a5___8611e1a86fd7a61d0cd17728e41390ac.webp" />
            </div>
        </div>
    </div>
    <div class="modal fade scrollable-container" id="modalProductos" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="~/images/Logo_GranD.png" id="imgModalHeader" />
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-5" id="DivImg">
                            <img id="imgModal" />
                        </div>
                        <div class="col-7" id="">
                            <p>
                                <label id="lblTitleProducto"></label>
                            </p>
                            <div class="row">
                                <div class="col-5" id="divrating">
                                    <p>Rating</p>
                                    <p><label id="lblRating"></label></p>
                                    <div id="divrating">
                                        <div class="rating">
                                            <span>&#9733;</span>
                                            <span>&#9733;</span>
                                            <span>&#9733;</span>
                                            <span>&#9733;</span>
                                            <span>&#9733;</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-7 precio">
                                    <label id="lblPrecio"></label>
                                </div>
                            </div>
                            <label id="lblDescripcion"></label>
                            <p>Talla</p>
                            <div class="row" id="DivTallas">
                                <button class="btn btn-light form-control" name="btnTalla" value="XS">XS</button>
                                <button class="btn btn-light form-control" name="btnTalla" value="S">S</button>
                                <button class="btn btn-light form-control" name="btnTalla" value="M">M</button>
                                <button class="btn btn-light form-control" name="btnTalla" value="L">L</button>
                                <button class="btn btn-light form-control" name="btnTalla" value="XL">XL</button>
                            </div>
                            <p>Cantidad</p>
                            <div class="row" id="divCantidad">
                                <div class="quantity-control">
                                    <button class="btn" id="decreaseBtn">-</button>
                                    <input class="form-control" type="text" id="quantityInput" onkeypress="return event.charCode >= 48 && event.charCode <= 57" value="1">
                                    <button class="btn" id="increaseBtn">+</button>
                                </div>
                            </div>
                            <div class="row">
                                <label id="lblEntrega"></label>
                            </div>
                            <div class="btnsComprar">
                                <button class="btn btn-warning" id="btnAgregarAlCarrito">Agregar al carrito <i class="bi bi-cart-fill"></i></button>
                                <button class="btn btn-danger" id="btnComprar">Comprar ahora <i class="bi bi-check-lg"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/jquery-3.7.1.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/producto.model.js"></script>
    <script src="~/js/productos.js"></script>
    <script src="~/js/ProductosInicio.js"></script>
</body>
</html>
