#ContenedorPedidos {
    background-color: white;
    height:500px;
}


.TituloMisPedidos{
    padding:10px;
    text-align:center;
}

.cuerpoPedidos {
    padding: 10px;
}

.NumeroPedido{
    font-weight:700;
}

.Aclaracion{
    text-align:center;
}